<!DOCTYPE html>
<html ng-app="friendsList">

<head>
  <title>Angular Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller='FriendController'>

  <h1>The <strong>facebook</strong> Friend Machine</h1>

  <div class="friends">
    <form class="form-inline searchForm" role="form">
      <div class="form-group">

        <input class="form-control" placeholder="Search Name" ng-model='searchName.name'>
        <input class="form-control" placeholder="Search Location" ng-model='searchCity.current_location.name'>




        <!-- ///// NG-OPTIONS EXAMPLES: -->

        <select ng-model='sortType' class="input-medium" ng-options="option.value as option.name for option in sortOptions">
          <!-- THINK OF NG-OPTIONS AS AN NG-REPEAT FOR YOUR SELECT BOX -->
          <!-- FOR EACH OPTION -IN YOUR ARRAY OF OPTIONS (sortOptions)- WE WANT:
          NG-OPTIONS="actualValueWhenItsClickedOn as howYouWantItDisplayed for option in sortOptions" -->
          <!-- WHICHEVER YOU CLICK ON: THE VALUE IS NOW SAVED TO THE NG-MODEL sortType -->
        </select>

        <!-- //// ORIGINAL CODE BEFORE W/O NG-OPTIONS -->
        <!-- <select ng-model="sortType">
          <option value='name'>Name</option>
          <option value='friend_count'>#Friends</option>
          <option value='current_location.city'>City</option>
          <option value='current_location.state'>State</option>
          <option value='current_location.country'>Country</option>
                </select> -->


        <select ng-model='sortReverse' ng-options='option.value as option.name for option in sortUpDown' class="input-medium">
          <!-- THINK OF NG-OPTIONS AS AN NG-REPEAT FOR YOUR SELECT BOX -->
          <!-- FOR EACH OPTION -IN YOUR ARRAY OF OPTIONS (sortUpDown)- WE WANT: NG-OPTIONS="theActualValueWhenItsClickedOn as howYouWantItDisplayed for option in sortUpDown" -->
          <!-- WHICHEVER YOU CLICK ON: THE VALUE IS NOW SAVED TO THE NG-MODEL sortReverse -->
        </select>


        <!-- //// ORIGINAL CODE BEFORE W/O NG-OPTIONS -->
        <!-- <select ng-model="sortDirection">
          <option value='+'>Descending</option>
          <option value=''>Ascending</option>
            </select> -->

      </div>
    </form>

    <ul>

      <li class='friend' ng-repeat='friend in friends | filter:searchName | filter:searchCity | orderBy: sortType: sortReverse'>
        <!-- THE ABOVE ORDERS BY SORT TYPE, THEN ORDERS IT IN Ascending/Descending by sortReverse's value -->
        <img class="profile-pic" src='{{ friend.pic_square }}'>

        <h3>{{ friend.name }}</h3>

        <div class="location">
          Location: {{ friend.current_location.city + ', ' + friend.current_location.state + ', ' + friend.current_location.country }}
        </div>

        <div class="status">
          Status: {{ friend.status.message }}
        </div>

        <div class="num-friends">
          {{ friend.friend_count }}
        </div>
      </li>
    </ul>
  </div>





  <!-- /////////////  -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <script src="app.js"></script>
  <script src="FriendController.js"></script>


</body>

</html>
